* {
  padding: 0;
  margin: 0; 
}
body {
  /* animation: shockScreen 0.3s linear 0s 2 normal none; */
  /* animation: disappear 0.3s linear 0s 2 normal none; */
}
.screen-shock{
  animation: shockScreen 0.3s linear 0s 2 normal none;
}
.content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffcd43;
  height: 100vh;
  font-family: 'Butterfly Kids', cursive;
}
.content-container .question-number{
    text-align: center;
    margin-bottom: 200px;
    font-size: 3rem;
} 
.content {
  max-width: 1000px;
  position: relative;
}
.question {
  position: relative;
  display: flex;
  align-items: center;
}
.error::after {
  content: attr(data-errormsg);
  position: absolute;
  bottom: -45px;
  left: 60px;
  font-size: 2.2em;
}

.first-number {
  position: relative;
  cursor: pointer;
  font-size: 4rem;
}
.addone::before {
  position: absolute;
  content: "1";
  font-weight: bold;
  top: -13px;
  left: 10px;
  font-size: 2rem;
}
.symbol {
  font-size: 4rem;
  margin: 0 20px;
}
.second-number {
  font-size: 4rem;
}
.equal {
  font-size: 3rem;
  margin: 0 20px;
}
.answear {
  font-family: 'Short Stack', cursive;
  font-size: 3rem;
  outline: none;
  width: 150px;
  height: 40px;
  font-weight: 900;
}
.next-btn{
text-align: center;
font-size: 3rem;
letter-spacing: 5px;
text-transform: uppercase;
padding: 0 40px;
display: block;
margin: 0 auto;
margin-top: 50px;
border: none;
cursor: pointer;
transition: .3s;
border-radius: 3px;
outline: none;
font-family: 'Short Stack', cursive;
background: #784c88;
font-weight: 900;
}
.next-btn:hover{
    background: #0a62bf;
    color: aliceblue;
}
.next-btn:active{
    background: #4093ec;
    color: #ffcd43;
}
.valiation-msg{
  position: absolute;
  bottom: -49px;
  left: -18px;
}
@media screen and (max-width: 780px) {
  .valiation-msg{
    left: 50px;
  }
}
@media screen and (max-width: 570px) {
  .question {
    flex-direction: column;
    align-items: center;
  }
  .error::after {
    content: attr(data-errormsg);
    position: absolute;
    bottom: -42px;
    left: 30px;
    font-size: 1.8em;
  }
  .valiation-msg{
    bottom: 125px;
    left: -144px;
    width: 100px;
  }
}

@media screen and (max-width: 415px) {
  .valiation-msg{
    bottom: 120px;
    left: -90px;
    width: 100px;
  }
}